<div class="jumbotron text-center">
  <h1>ESports en Evolución</h1>
  <p>Resize this responsive page to see the effect!</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Somos Formadores</h3>
      <p>Nestra visión es no solo convocarsino profesionalizar a los ePros</p>
      <p>Somos Escuela!</p>
    </div>
    <div class="col-sm-4">
      <h3>Escuela de ePro</h3>
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
    </div>
    <div class="col-sm-4">
      <h3>El Concepto Hace al Juego</h3>
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
    </div>
  </div>
</div>
